@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gemunu Libre', sans-serif;
    text-decoration: none;
}

body{
    background: linear-gradient(90deg, #0019FF,#000000);
    padding: 10px;
}



.title{
    text-align: center;
    color: #000000;
}

label{
    color: #000000;
    font-size: 20px;
}

input[type="text"],
input[type="password"]{
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    color:rgb(11, 0, 168);
}


.text-footer{
    color: #000000;
 
}

.text-footer a {
    color: rgb(0, 0, 0);
}



